<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Management</title>
    <style>
        #forms{
            text-align: center;

        }
        body{
            background-color: #b5b5b5;
        }
    </style>
</head>
<body>
    <div id="forms">
        <fieldset style="margin-bottom: 25px; border-width: 20px; margin: 0 auto;">
        <legend>New Inventory Item</legend>
        <form action="newInventoryItem" method="GET">
            <p>Inventory ID: <input type="number" name="inventoryID"></p>
            <p>Inventory Name: <input type="text" name="inventoryName"></p>
            <p>Inventory Department: <input type="text" name="department"></p>
            <p>Inventory Price: <input type="number" step="0.01" name="inventoryPrice"></p>
            <p>Inventory Quantity: <input type="number" step="0.01" name="inventoryQuantity"></p>
            <p><input type="submit" name="newInventoryItem"></p>
        </form>

        <form action="outputInventoryItem" method="GET">
            <p>Output Current Inventory Item</p>
            <p><input type="submit" name="outputInventoryItem"></p>
        </form>

        <form action="addCurrentInventoryItem" method="GET">
            <p>Add Current Inventory Item to Database</p>
            <p><input type="submit" name="addCurrentInventoryItem"></p>
        </form>
        </fieldset>

        <fieldset style="margin-bottom: 25px; margin-top: 50px; border-width: 20px; margin: 0 auto;">
        <legend>Add New Inventory Item to Database</legend>
        <form action="addNewInventoryItem" method="GET">
            <p>Inventory ID: <input type="number" name="inventoryID"></p>
            <p>Inventory Name: <input type="text" name="inventoryName"></p>
            <p>Inventory Department: <input type="text" name="department"></p>
            <p>Inventory Price: <input type="number" step="0.01" name="inventoryPrice"></p>
            <p>Inventory Quantity: <input type="number" step="0.01" name="inventoryQuantity"></p>
            <p><input type="submit" name="addNewInventoryItem"></p>
        </form>
        </fieldset>

        <fieldset style="margin-bottom: 25px; border-width: 20px; margin: 0 auto;">
        <legend>Retrieve Inventory Item from Database</legend>
        <form action="retrieveInventoryItem" method="GET">
            <p>Inventory ID: <input type="number" name="inventoryID"></p>
            <p><input type="submit" name="retrieveInventoryItem"></p>
        </form>

        <form action="alterInventoryItem" method="GET">
            <p>Alter Current Inventory Item</p>
            <p>Inventory Name: <input type="text" name="inventoryName"></p>
            <p>Inventory Department: <input type="text" name="department"></p>
            <p>Inventory Price: <input type="number" step="0.01" name="inventoryPrice"></p>
            <p>Inventory Quantity: <input type="number" step="0.01" name="inventoryQuantity"></p>
            <p><input type="submit" name="alterInventoryItem"></p>
        </form>

        <form action="alterInventoryQuantity" method="GET">
            <p>Alter Current Inventory Item Quantity</p>
            <p>Inventory Quantity: <input type="number" step="0.01" name="inventoryQuantity"></p>
            <p><input type="submit" name="alterInventoryQuantity"></p>
        </form>
        </fieldset>

        <fieldset style="margin-bottom: 25px; border-width: 20px; margin: 0 auto;">
        <legend>Commit Alterations to Current Inventory Item to Database</legend>
        <form action="commitAlteredInventoryItem" method="GET">
            <p><input type="submit" name="commitAlteredInventoryItem"></p>
        </form>
        <legend>Delete Current Inventory Item</legend>
        <form action="deleteCurrentInventoryItem" method="GET">
            <p><input type="submit" name="deleteCurrentInventoryItem"></p>
        </form>
        <legend>Delete Selected Inventory Item</legend>
        <form action="deleteSelectedInventoryItem" method="GET">
            <p>Inventory ID: <input type="number" name="inventoryID"></p>
            <p><input type="submit" name="deleteSelectedInventoryItem"></p>
        </form>
        </fieldset>
    </div> 
</body>
</html>